body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    font-size: 25px;
    background-color: #d5d5d5;
}
.title{
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 1px #9c9191;
    letter-spacing: 3px;
}
form{
    width: 20%;
    margin: auto;
    text-align: center;
    border: solid 2px #9c9191;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 10px 20px 30px black;
    padding: 20px;
}
form .fieldWrapper input{
    padding: 5px 6px;
    margin: 20px;
    border-radius: 4px;
    width: 90%;
}
.link{
    margin-left: 20px;
    text-decoration: none;
    color: grey;
    transition: linear 0.2s;
}
.link:hover{
    color: aquamarine;
}
.submit-button{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: linear 0.2s;
    font-weight: bold;
}
.submit-button:hover{
    color: white;
    background-color: black;
}
.messages{
    position: absolute;
    top: 10px;
    right: 10px;
}
.alert{
    padding: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
}
.alert-success{
    background-color: #97f572;
}
.alert-error{
    background-color: #d26b6b;
}