body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    font-size: 25px;
}
.title{
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 1px #9c9191;
    letter-spacing: 3px;
}
form{
    width: 20%;
    margin: auto;
    text-align: center;
    border: solid 2px #9c9191;
    border-radius: 10px;
    padding: 20px;
}
form .fieldWrapper input{
    padding: 5px 6px;
    margin: 20px;
    width: 90%;
}
.link{
    margin-left: 20px;
    text-decoration: none;
    color: grey;
    transition: linear 0.2s;
}
.link:hover{
    color: aquamarine;
}